<div class="container">
  <div class="general" fxLayout="column" fxLayoutAlign="center center">
    <h1>Shorten your link!</h1>
    <form>
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="outline">
          <mat-label>URL:</mat-label>
          <input matInput required>
        </mat-form-field>
        <button mat-raised-button color="primary">Shorten!</button>
      </div>
    </form>
    <p>Your link now looks like this:</p>
    <a href="">http://localhost:8000</a>
  </div>
</div>
