<div class="container">
  <div class="general" fxLayout="column" fxLayoutAlign="center center">
    <h1>Shorten your link!</h1>
    <form #f=ngForm (ngSubmit)="onSubmit()">
      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="outline">
          <mat-label>Enter URL here:</mat-label>
          <input name="originalUrl" matInput required ngModel #originalUrl="ngModel" appUrl>
          <mat-error *ngIf="originalUrl.touched && originalUrl.errors?.['required']">Enter the URL!</mat-error>
          <mat-error *ngIf="originalUrl.touched && originalUrl.errors?.['url']">Enter the correct URL!</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid || isUploading">
          <span *ngIf="!isUploading">Shorten!</span>
          <mat-spinner diameter="35" *ngIf="isUploading"></mat-spinner>
        </button>
      </div>
    </form>
    <ng-container *ngIf="link">
      <p>Your link now looks like this:</p>
      <a target="_blank"
         [href]="'http://localhost:8000/links/'+link.shortUrl">http://localhost:8000/links/{{link.shortUrl}}</a>
    </ng-container>
  </div>
</div>
